#---------------------------------
# Directories
#---------------------------------
node_modules
tmp/
coverage

#---------------------------------
# Extensions
#---------------------------------
*.gz
*.log
*.rar
*.tar
*.zip
*.orig


#---------------------------------
# IDE generated
#---------------------------------
.idea/
.project
*.iml

#---------------------------------
# OS generated
#---------------------------------
__MACOSX/
.DS_Store
Thumbs.db

#---------------------------------
# Env vars
#---------------------------------
.env*
.npmrc

#---------------------------------
# Build
#---------------------------------
lib
build

#---------------------------------
# App
#---------------------------------
.next

